@import url("https://fonts.googleapis.com/css?family=Roboto:300");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #181818;
  color: #ffffff;
  line-height: 1.7;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.wrapper {
  display: flex;
}

.btn {
  display: inline-block;
  border: 1px solid #ffffff;
  align-self: center;
  padding: 8px 38px;
  width: 35%;
  margin-top: 20px;
  border-radius: 2px;
  height: 2.7rem;
  text-align: center;
  transition: all 0.5s;
}
.btn:hover {
  border: 1px solid #ff7b39;
  color: #ff7b39;
}
/* Authentication */

.authentication {
  flex: 4;
}
.container {
  width: 80%;
  max-width: 960px;
  margin: auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 150px 40px 40px 20px;
}
.logo {
  width: 300px;
  align-self: center;
}
.sign-in-form {
  margin: 50px 10px 20px 10px;
  padding: 10px;
}
.form-container label,
input {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 2rem;
}
.form-container input {
  background: #181818;
  border: 1px solid #555555;
  padding: 10px;
  height: 2.7rem;
  margin-bottom: 20px;
  color: #ffffff;
}
.form-container .sign-in-btn {
  background: #f96816;
  border: none;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
.form-container .sign-in-btn:hover {
  background: #ff7b39;
  color: white;

}
/* reset password block */
.reset-password {
  text-align: center;
  font-size: 14px;
}
.reset-password p {
  margin-top: 10px;
}
/* OR block */
.separator {
  display: flex;
  justify-content: center;
  color: #aaaaaa;
  margin: 10px 0px;
  padding: 0px 95px;
}
.bar {
  flex: auto;
  height: 1px;
  align-self: center;
  border: none;
  background: #aaaaaa;
}
.separator span {
  padding: 0px 0.8rem;
}
/* Signup Block */
.sign-up {
  display: flex;
  justify-content: center;
}
.sign-up-btn {
  width: 65%;
}
/* Showcase */

.showcase {
  display: flex;
  flex-direction: column;
  flex: 6;
  background: url("../images/showcase.jpg") center center/cover;
  height: 100vh;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
.showcase h2 {
  font-size: 3rem;
  font-weight: 300;
}
.showcase h2 span {
  font-weight: bold;
}
.showcase a span {
  text-transform: uppercase;
}
/* Footer */
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 130px;
  margin-bottom: 20px;
}
footer p {
  margin: 10px 0px;
}
footer p a {
  color: #f96816;
  text-decoration: underline;
  text-transform: capitalize;
  margin-right: 2px;
  padding: 0px 3px;
}
footer p a:nth-child(1) {
  border-right: 1px solid #ffffff;
}

/* Media queries for responsiveness */
/* Tabs */
@media (max-width: 1200px) {
  .authentication {
    flex: 1;
  }
  .showcase {
    flex: 1;
  }
  .separator {
    padding: 0px 20px;
  }
  .btn {
    width: 80%;
  }
  .sign-up-btn {
    width: 80%;
    padding: 8px 0px;
  }
}
/* Small screen mobiles */
@media (max-width: 768px) {
  .authentication {
    flex: 1;
  }
  .showcase {
    flex: 1;
    display: none;
  }
}
